#img-group{
    margin-right: -5px;
    margin-bottom: 0;
    min-height: 510px;
    &:after{
        display: block;
        content: "";
        clear: both;
    }

    .list-group-item{
        float: left;
        width: calc((100% / 4) ~" - 5px");
        height: 165px;
        margin-right: 5px;
        margin-bottom: 5px;
        background: #eee url('../../../../images/img-loading.gif') no-repeat center center;

        &.selected{
            opacity: 0.5;
        }

        img{
            display: none;
        }
    }

}