
// Fonts
@import url(//fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Plugins
@import "node_modules/select2/dist/css/select2";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min";
@import "node_modules/bootstrap-slider-basic/sass/_bootstrap-slider";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap";
@import "node_modules/summernote/dist/summernote";
@import "node_modules/codemirror/lib/codemirror";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/simple-line-icons/scss/simple-line-icons";
@import "node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";
@import "node_modules/sweetalert2/dist/sweetalert2";

form sup {
    color: #f00;
    top: 0.3em;
    font-size: 1.6em;
    margin-left: 0.2em;
}

.bold {
    font-weight: bold;
}

.form-control.textarea {
    height: 200px;
    overflow-y: scroll;
}

.progress {
    background: #5f5f5f;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.no-border-bottom {
    border-bottom: 0;
}

.text-center {
    text-align: center !important;
}
.text-middle {
    vertical-align: middle !important;
}

.bg-yellow {
    color: #f1b818 !important;
}

.badge-danger {
    background-color: #e72b0e !important;
    color: #fff;
}

.breadcrumb {
    border: 1px solid #d3e0e9;
    background: #fff;
}

.media-lists.comments {
    .media {
        border-bottom: 1px solid #d3e0e9;
        padding-bottom: 15px;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.btn-circle {
    width: 3em;
    height: 3em;
    text-align: center;
    padding: 5px 0;
    font-size: 1em;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    padding: 1px 0;
    font-size: 0.9em;
    line-height: 0.1;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 2px 0;
    font-size: 0.9em;
    line-height: 1.65;
    border-radius: 30px;
}

.btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 1.2;
    line-height: 2.00;
    border-radius: 70px;
}

// PANEL
.panel-heading.with-tab {
    padding-bottom: 0;
    .nav.nav-tabs {
        margin-bottom: -1px;
        .active a {
            background: #fff;
        }
    }
}

.panel .panel-heading:not(:first-child) {
    border-top: 1px solid #d3e0e9;
    border-radius: 0;
    border-bottom: 1px solid #d3e0e9;
}

.panel .panel-body:not(:last-child) {
    border-bottom: 1px solid #d3e0e9;
}

.panel-footer .pagination {
    margin: 0;
}


/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #fff;
        border-right: 1px solid #d3e0e9;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li.with-border {
    a { color: #777; font-weight: bold }
}
.nav-sidebar > li.separator {
    height: 1em;
    border-bottom: 1px solid #d3e0e9;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    i { padding-right: 1.5em; color: #777 }
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.breadcrumb.flat {
    margin: -20px -15px 20px -15px;
    padding: 20px 40px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #d3e0e9;
    font-size: 1.2em;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

/*!
 * DataTables + Font Awesome integration
 * License: MIT - http://datatables.net/license
 */

/*
 * Sort styling
 */
table.dataTable thead th {
    position: relative;
    background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
    content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
    top: 8px;
}


/*
 * DataTables style pagination controls
 */
div.dataTables_paginate a.paginate_button.first,
div.dataTables_paginate a.paginate_button.previous {
    position: relative;
    padding-left: 24px;
}

div.dataTables_paginate a.paginate_button.next,
div.dataTables_paginate a.paginate_button.last {
    position: relative;
    padding-right: 24px;
}

div.dataTables_paginate a.first:before, 
div.dataTables_paginate a.previous:before {
    position: absolute;
    top: 8px;
    left: 10px;
    display: block;
    font-family: FontAwesome;
}

div.dataTables_paginate a.next:after,
div.dataTables_paginate a.last:after {
    position: absolute;
    top: 8px;
    right: 10px;
    display: block;
    font-family: FontAwesome;
}

div.dataTables_paginate a.first:before {
    content: "\f100";
}

div.dataTables_paginate a.previous:before {
    content: "\f104";
}

div.dataTables_paginate a.next:after {
    content: "\f105";
}

div.dataTables_paginate a.last:after {
    content: "\f101";
}


/*
 * Bootstrap and foundation style pagination controls
 */
div.dataTables_paginate li.first > a,
div.dataTables_paginate li.previous > a {
    position: relative;
    padding-left: 24px;
}

div.dataTables_paginate li.next > a,
div.dataTables_paginate li.last > a {
    position: relative;
    padding-right: 24px;
}

div.dataTables_paginate li.first a:before, 
div.dataTables_paginate li.previous a:before {
    position: absolute;
    top: 6px;
    left: 10px;
    display: block;
    font-family: FontAwesome;
}

div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
    position: absolute;
    top: 6px;
    right: 10px;
    display: block;
    font-family: FontAwesome;
}

div.dataTables_paginate li.first a:before {
    content: "\f100";
}

div.dataTables_paginate li.previous a:before {
    content: "\f104";
}

div.dataTables_paginate li.next a:after {
    content: "\f105";
}

div.dataTables_paginate li.last a:after {
    content: "\f101";
}

/* In Foundation we don't want the padding like in bootstrap */
div.columns div.dataTables_paginate li.first a:before, 
div.columns div.dataTables_paginate li.previous a:before,
div.columns div.dataTables_paginate li.next a:after,
div.columns div.dataTables_paginate li.last a:after {
    top: 0;
}