@blue-base:#2686B8;
@blue-hover:#2686B8;
.navbar-blue{
    background-color: @blue-base;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border:none;

    .navbar-brand{
        color: #fff;
        line-height: 64px;
        height: 64px;
        padding-top: 0;
    }

    .navbar-toggle{
        color:#fff;
        border:none;
        margin-top: 14px;
        &:hover{
            background-color: transparent;  
        }
        .icon-bar{
            background-color: #fff;
        }
    }

    .navbar-nav{
        >li{
            >a{
                line-height: 64px;
                height: 64px;
                padding-top: 0;
                transition: background-color .8s ease;
                color: #fff;
                opacity: 0.8;
                &:hover{
                    background-color: @blue-hover;
                    color: #fff;
                    opacity: 1;
                }
            }
        }
        .active{
            >a{
                color:#fff;
                opacity: 1;
                background-color: transparent;
            }
            a:focus,a:hover{
                color:#fff;
                background-color: @blue-hover;
            }
        }
    }

    .search{
        display:table;
        .btn-kodefikasi{
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important;
        }
    }

    .navbar-right{
        margin-right: 0px;
        .fa{
            font-size:42px;
            line-height: 64px;
        }
    }
    .navbar-header{
        .fa{
            font-size:42px;
            line-height: 64px;
        }
    }
}

.panel{
    .panel-heading{
        padding: 0 15px;
        h3{
            margin-top:0;
        }
    }
    #widget-list-pertanyaan{
        #list-pertanyaan{
            height: 400px;
            overflow: auto;
            .list-group-item{
                border:none;
                border-radius:0;
                .subject{
                    font-size: 16px;
                    display: block;
                    border-bottom: 1px solid #eee;
                    padding: 5px 0;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                .user{
                    font-size: 85%;
                    margin-bottom: 5px;
                }
                .text{
                    line-height: 17px;
                    height: ~'calc(3*17px)';
                    overflow: hidden;
                }
            }
        }
    }
}

.captcha{
    padding:0;

    .inline{
        display: inline-block;
        vertical-align: middle;
    }
}