@import (reference) "../../includes/bootstrap/less/bootstrap.less";

#content{
    margin: 20px 0 60px;
    font-size: 18px;
    font-weight: 300;

    img{
        width:100%;
    }

    .breadcrumb{
        font-size: 16px;
    }

    .title{
        text-align: center;
        font-size: 42px;
        margin: 60px 0 40px;
    }

    #share{
        a{
            color: #666;

            &:hover{
                color: #888;
            }
        }
    }

    .comment-header{
        font-weight: 300;
        text-align: center;
    }
}

#suggestion{
    margin: 40px 0 60px;
}

#list-article{
    .list-group-item{
        border-left: 0;
        border-right: 0;

        &:first-child{
            border-radius: 0;
            border-top: none;
        }
        &:last-child{
            border-radius: 0;
            border-bottom: none;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            &.text{
/*                overflow: hidden;
                line-height: 25px;
                height: 125px;*/
            }
        }
        p.meta{
            font-size: inherit;
            color: #bbb;

            a{
                color: #888;
            }
        }
    }
}

#footer{
    padding: 20px 0;
    background-color: #f2f2f2;
    color: #999;

    p{
        margin: 0;
        font-size: 13px;
    }
}