@import (reference) "../../includes/bootstrap/less/bootstrap.less";

html, body{
    height: 100%;
}

#wrapper{
    min-height: ~"calc(100% - 130px)";
}

#list-article{
    .list-group-item{
        border-left: 0;
        border-right: 0;
        
        &:first-child{
            border-radius: 0;
            border-top: none;
        }
        &:last-child{
            border-radius: 0;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }
        p.meta{
            font-size: inherit;
            color: #bbb;
            
            a{
                color: #888;
            }
        }
    }
}

.sub-kodefikasi{
    margin-left: 25px;
    margin-bottom: 25px;
}

#footer{
    padding: 20px 0;
    background-color: #f2f2f2;
    color: #999;

    p{
        margin: 0;
        font-size: 13px;
    }
}