/*!
 * PANEL
 */
.panel{
    margin-bottom: 5px;

    .panel-heading{
        padding-bottom: 5px;
        border-bottom : 1px solid #ddd;
        margin:0 10px;
        
        h1, .h1, h2, .h2, h3, .h3{
            margin-top: 10px;
        }

        .panel-title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > .btn-group{
            .pull-right;
            margin-top: -10px;
            margin-left: 5px;
        }

        .btn-group{
            .btn { 
                &:extend(.btn-sm); 
            }
        }
    }

}

