@import (reference) "../../includes/bootstrap/less/bootstrap.less";

// Core variables
@import "variables.less";
@import "panel.less";

body {
    padding-top: 50px;
}

.navbar-konsolidasi{
    background-color:@color-konsolidasi;
    color:#fff;
    /*min-height:ceil((@navbar-padding * 3.33333333)) !important;*/
    a{
        color:#fff;
    }
    .nav{
        >li{
            > a{
                /*                padding-top:@navbar-padding !important; 
                                padding-bottom:0 !important;
                                height: ceil((@navbar-padding * 3.33333333));*/
                &:hover,&:focus{
                    background-color:lighten(@color-konsolidasi,10%);
                }
                >img{
                    height:100%;
                    width:auto;
                }
            }
        }
    }
    .navbar-brand {
        padding: 0px;
        /*        padding-top:@navbar-padding !important; 
                padding-bottom:0 !important;
                height: ceil((@navbar-padding * 3.33333333));*/
        >span{        
            >img{
                height: 100%;
                padding: 5px;
                width: auto;
            }
        }
    }
    .detail-profile{
        display:table;
        .cell-detail{
            vertical-align:middle;
            display:table-cell;
            >img{
                width:auto;
                height:48px;
                padding-right:15px;
            }
            .fa{
                font-size:28px;
                padding-right:15px;
            }
            span{
                font-weight:700;
                font-size:18px;
            }
        }
    }

}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    .heading-title{
        margin: 5px 15px 0;
        padding-left: 0;
        right: 0;
        color: #707070;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.66666666666667;
        text-transform: uppercase;
        border-top: 1px solid #ccc;
        padding-top:10px;
    }

    .devider{
        margin: 5px 15px 0;
        border-top: 1px solid #ccc;
    }

    > li {
        &.active{
            >a{
                text-decoration: none;
                background-color: lighten(@color-grey,45%);
            }
        }
        > a {
            text-decoration: none;
            padding: 9px 0 9px 15px;
            &:hover,&:focus{
                background-color: lighten(@color-grey,45%);
            }

            >i{
                color: @color-grey;
                margin-right:15px;
            }
        }
        &.submenu{
            &.active{
                >a{
                    text-decoration: none;
                    background-color:lighten(@color-grey,45%);
                }
            }
            > a {
                text-decoration: none;
                padding: 9px 0 9px 15px;
                display: block;

                &:hover,&:focus{
                    background-color:lighten(@color-grey,45%);
                }
                .arrow{
                    float: right;
                    margin: 5px 20px 0 -10px;
                    font-size: 10px;
                    -webkit-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                }
            }
            &.open{
                >a{
                    text-decoration: none;
                    background-color: lighten(@color-grey,45%);

                    .arrow{
                        -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

                }
                > ul{
                    display: block;
                }

            }
            > ul{
                display: none;
                padding: 0;
                > li{
                    list-style: none;
                    a {
                        text-decoration: none;
                        text-decoration: none;
                        padding: 9px 0 9px 45px;
                        display: block;
                        position: relative;

                        &:hover,&:focus{
                            background-color: lighten(@color-grey, 60%); 
                        }
                    }
                    > i{
                        margin-right: 10px;
                    }
                    &.active{
                        a {
                            font-weight: 700;
                            &:after,&:before{
                                font-family: 'FontAwesome';
                                content: "\f101";
                                display: block;
                                position: absolute;
                                top: 10px;
                                left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.sidecontent {
    padding:0;
    #page-header{
        background-color: #fcfcfc;
        margin-top: 1px;
        padding: 0 20px;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        .page-header {
            margin: 0px;
            border-bottom: none;
            margin-right: 20px;
            padding: 5px 0 0 0;
            h4{
                margin-bottom:0;
            }
            
        }
        #breadcrumb{
            font-size: 11px;
            a{
                padding: 8px 10px 8px 2px;
                display: inline-block;
                background-image: url('../images/breadcrumb.png');
                background-position: center right;
                background-repeat: no-repeat;
                color: #666666;
                &.current{
                    font-weight: bold;
                    color: #444444;
                }
                &:last-child{
                    background-image: none;
                }
            }
        }
    }
    .main{
        background-color: #ecf0f5;
        min-height:609px;
        .main-inner{
            padding:20px;
        }
    }
    footer{
        box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
        padding: 15px 20px;
    }
}


@media (min-width: 768px) {
    .main-inner {
        padding-right: 40px;
        padding-left: 40px;
    }
}


.placeholders {
    margin-bottom: 30px;
    text-align: center;
    h4 {
        margin-bottom: 0;
    }
}
.placeholder {
    margin-bottom: 20px;
    img {
        display: inline-block;
        border-radius: 45%;
    }
}

.dataTables_filter {
    input {
        border-color: #edf0f5;
        height: 26px;
        margin-left: 10px;
    }
    input, select{
        border: 1px solid #bec0c4;
        background: #edf0f5;
        font-size: 12px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}