@import (reference) "../../includes/bootstrap/less/bootstrap.less";

.jumbotron{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0;

    h1{
        margin-top: 0;
    }

    .inner{
        display: table-cell;
        vertical-align: middle;
    }

    .help-block{
        color: white;

        a{
            color: white;
            text-decoration: underline;

            &:hover{
                color: #ddd;
            }
        }
    }
}

#category{
    margin: 60px 0;

    .thumbnail{
        position: relative;
        color: white;

        > img{
            .transition(all .2s ease-in-out);
        }

        strong{
            position: absolute;
            bottom: 19px;
            left: 4px;
            width: ~"calc(100% - 8px)";
            padding: 5px 8px;
            background-color: rgba(0,0,0,.5);
            text-align: center;
            .transition(all .2s ease-in-out);
        }

        &:hover{
            > img{
                opacity: .8;
            }
            strong{
                background-color: rgba(0,0,0,.75);
            }
        }
    }
}

.border{
    height: 1px;
    #gradient .horizontal-three-colors(#fff, #ddd, 50%, #fff);
}

#sub-category{
    margin: 60px 0;

    .row{
        margin: 0;

        [class^="col-md-"]{
            padding: 0;
            margin-right: -1px;
            margin-bottom: 10px;
        }

        .row{
            margin: 0;

            > [class^="col-md-"]{
                border: 1px solid #ddd;
                margin-right: -1px;
                margin-bottom: -1px;

                a{
                    display: block;
                    padding: 8px 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:hover{
                        background-color: rgba(0,0,0,.05);
                        text-decoration: none;
                    }
                }

                &:nth-of-type(odd) {
                    background-color: #f9f9f9;
                }
            }
        }

    }
}

#footer{
    padding: 20px 0;
    background-color: black;
    color: #999;

    p{
        margin: 0;
        font-size: 13px;
    }
}