.navbar-blue{background-color:#2686B8;color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);border:none}.navbar-blue .navbar-brand{color:#fff;line-height:64px;height:64px;padding-top:0}.navbar-blue .navbar-toggle{color:#fff;border:none;margin-top:14px}.navbar-blue .navbar-toggle:hover{background-color:transparent}.navbar-blue .navbar-toggle .icon-bar{background-color:#fff}.navbar-blue .navbar-nav>li>a{line-height:64px;height:64px;padding-top:0;transition:background-color .8s ease;color:#fff;opacity:.8}.navbar-blue .navbar-nav>li>a:hover{background-color:#2686B8;color:#fff;opacity:1}.navbar-blue .navbar-nav .active>a{color:#fff;opacity:1;background-color:transparent}.navbar-blue .navbar-nav .active a:focus,.navbar-blue .navbar-nav .active a:hover{color:#fff;background-color:#2686B8}.navbar-blue .search{display:table}.navbar-blue .search .btn-kodefikasi{-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important}.navbar-blue .navbar-right{margin-right:0}.navbar-blue .navbar-right .fa{font-size:42px;line-height:64px}.navbar-blue .navbar-header .fa{font-size:42px;line-height:64px}.panel .panel .panel-heading h3{margin-top:0}.panel #widget-list-pertanyaan #list-pertanyaan{height:400px;overflow:auto}.panel #widget-list-pertanyaan #list-pertanyaan .list-group-item{border:none;border-radius:0}.panel #widget-list-pertanyaan #list-pertanyaan .list-group-item .subject{font-size:16px;display:block;border-bottom:1px solid #eee;padding:5px 0;margin-bottom:5px;font-weight:700}.panel #widget-list-pertanyaan #list-pertanyaan .list-group-item .user{font-size:85%;margin-bottom:5px}.panel #widget-list-pertanyaan #list-pertanyaan .list-group-item .text{line-height:17px;height:calc(3*17px);overflow:hidden}.captcha{padding:0}.captcha .inline{display:inline-block;vertical-align:middle}
#widget-list-pertanyaan .pagination {
	margin: 0 !important;
}
#widget-list-pertanyaan .button-toolbar .btn-group {
	margin-top: 1em !important;
}
.result-detail .media-list .media {
	border-bottom: 1px dashed #ccc;
}
.result-detail .media-list .media:last-child {
	border-bottom: 0;
}

.panel-heading {
	border-top: 1px solid #ddd;
}

.panel-heading:first-child {
	border-top: 0;
}
.captcha {
	padding: 1em;
    border: 1px dashed #d32121;
    color: red;
    background: #fceded;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .5em;
}
sup {
	padding: 5px;
	color: #f00;
}