.wrap-gantt{
    min-height: 635px;    
}
.wrap-info{
    display: table;
    width:100%;
    height:100px;
    text-align: center;

    .cell-info{
        vertical-align: middle;
        display: table-cell;
        border: 1px solid #ddd;
        width: 50px;
        &:first-child{
            border-right: none;
        }
        a{
            display: block;
            font-size: 50px;
            &:hover,&:focus{
                text-decoration: none;
            }
        }
    }
}
.actifity{
    height: 495px;
    overflow: auto;
    background-color:#fff;

    .list-group-item{
        border: none;
        position: relative;
        a{
            text-decoration: none;
            font-size: 18px;
        }
        hr{
            margin:0;
        }
        .wrap-data{
            span{
                display: block;
            }
        }
        .status{
            font-style: italic;
            position: absolute;
            bottom: 0;
            right: 15px;
        }
    }
}

.panel-default{
    border-radius: 0;
}