html, body{
    height: 100%;
}
body{
    background-color:#205081;
}

.lkpp-logo{
    text-align: center;
    margin-top: 20px;
    .lkpp-text{
        text-align: center;
        margin: 10px 0;
        font-size: 20px;
        color: #666;
    }
}
.form-login{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color:#fff;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
    border-radius:5px;

    .wrap-input{
        margin: 0 -15px;
        background: #eee;
        overflow: hidden;
        height: 0;

        /* Safari flickering handle */
        -webkit-transform: translate3d(0, 0, 0);

        -webkit-transition: height .5s ease-in-out;
        -o-transition: height .5s ease-in-out;
        transition: height .5s ease-in-out;
        &.open{
            height: 260px;
        }
    }

    .wrap-input-inside{
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
        padding: 10px 40px 0 40px;
        margin: 0 -20px;
        box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.1);
        .form-group{
            margin-bottom: 15px;
            border:none;
            padding: 0;
        }
    }

    .captcha{
        padding: 10px;

        .inline{
            display: inline-block;
            vertical-align: middle;
        }
    }

    #login-submit{
        /*        position: absolute;
                bottom: -30px;
                left: 50%;
                margin-left: -30px;
                border-radius: 10%;
                height: 60px;
                width: 60px;
                outline: none;*/
    }
}

.form-footer{
    text-align: center;
    font-size: .9em;
}

.wrap-message{
    text-align: center;
    margin-top: 10px;
}
.modal{
    z-index: 999999 !important;
} 